under racing add this as main menu (Formula 1,Endurance,Hypersail,Esports,Driver Academy)

for Formula 1 > add this sub menu (Home ,
SF-26,

Team,
News,
Races,
Partners,
Hospitality,

Media Galleries) 

for Endurance add this sub menu (Hypercar,
Home,
Ferrari 499P,
Team,
Overview,
Alessandro Pier Guidi,
James Calado,
Antonio Giovinazzi,
Antonio Fuoco,
Miguel Molina,
Nicklas Nielsen,
Yifei Ye,
Phil Hanson,
News,
Races,
Live Streaming,
The Red Line,

Media Gallery,
Partners) 

for Esports add this sub menu (Overview,
Team,
News,
Standings
Partners)

for Driver Academy add this sub menu (Home,
Mission,

Drivers
News)


under Sports Cars add this as main menu (All models, Your Ferrari, Owners,Ferrari Classiche ,Pre-Owned, Dealers)

for All models > add this sub menu (Range,
Ferrari Luce,
849 Testarossa,
849 Testarossa Spider,
296 GTB,
296 GTS,
Ferrari 12Cilindri,
Ferrari 12Cilindri Spider,
Ferrari Purosangue,
Ferrari Amalfi,
Ferrari Roma Spider,

Special Series,

Icona,

Supercars,

GT Racing,
Past Models)



for Your Ferrari > add this sub menu (Configure,
Tailor Made,
Ferrari Genuine,
Car Services,
Financial Services,
Smart Guides)



for Owners > add this sub menu (On road experiences,
Corse Clienti,
Corso Pilota,
Owners Club,

My Ferrari,
MyFerrari App,
MyFerrari Connect,
MyStore)








for Pre-Owned > add this sub menu (Home,
Why Approved,
Models,
Value your car)



for Dealers > add this sub menu (Find your dealer,
Discover the official network)



under Collections add this as main menu (Home , New Window , Overview , Gifts , New Window , Men ,  New Window , Women , New Window , Kids , New Window , Collectibles , New Window , Eyewear , New Window , Scuderia Ferrari Selection)


under Experiences add this as main menu (

Corse Clienti,

Ferrari Esports Series,

Ferrari Museums,

Ristorante Cavallino,

Theme Parks,
Configure your Dreams)




for Corse Clienti > add this sub menu (Home,
News,
About Us,
Calendar,

Ferrari Challenge,
Overview,
Drivers,
Calendar,
Cars,
News,
Media Gallery,
Partners,

XX Programme,

F1 Clienti,

Sport Prototipi Clienti,

Club Competizioni GT,
Finali Mondiali,

Cars,

Media Gallery,
Live Streaming)



for Ferrari Esports Series > add this sub menu (Overview,
News)



for Ferrari Museums > add this sub menu (Home,
Ferrari Maranello Museum,
Enzo Ferrari Modena Museum,
Ferrari Simulation Center,
Factory Panoramic Tour,
Personalised Experiences,
Exclusive Events,
Tickets and info)



for Ristorante Cavallino > add this sub menu (Home,
History,
Massimo Bottura,
The Team,
Menu,
The Restaurant,
Contacts,
Book a table,
Events,
Shop,
Gift voucher)



for Theme Parks > add this sub menu (Ferrari World Abu Dhabi,
Ferrari Land Barcelona)






under About Us add this as main menu (

Corporate,
News,

Ferrari Magazine,
History,
Join Us)



for Corporate > add this sub menu (Overview,
About Us,

Governance,

Investors,

Sustainability,

Media)





for Ferrari Magazine > add this sub menu (Home,
Cars,
Passion,
Races,
Subscribe)

