/* ===== Custom Ferrari Font ===== */
@font-face {
    font-family: "FerrariSans";
    src: url("../fonts/Ferrari-SansRegular.woff2") format("woff2"),
        url("../fonts/Ferrari-SansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: fallback;
}


/* ===== Global font ===== */

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: var(--f-ferrari-font) !important;
    font-size: 13px;
    letter-spacing: .015em;
    line-height: 1.5;
    overflow-x: clip;
    font-family: "FerrariSans", Arial, Helvetica, sans-serif;


}


/* header */


/* logo */
.Header-logo {
    height: 50px;
    margin: 9px 24px 5px 24px;
}

/* ===== Center logo on mobile ONLY ===== */
@media (max-width: 991.98px) {
    .Header_content__35CEb {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .Header_logo__3zG9o {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
    }
}

/* ===== Navbar ===== */
.navbar-nav>li {
    margin: 0 10px;
    font-family: var(--f-ferrari-font) !important;
}

.navbar-nav .nav-link {
    padding: 15px 0;
    letter-spacing: 2px !important;
    font-family: var(--f-ferrari-font) !important;
    font-size: 15px;
    line-height: 1.27em;
    font-weight: normal;
    font-stretch: normal !important;
    text-transform: uppercase;
    color: white;

}


.me-50 {

    margin-right: -40px !important;
}

/* ===== Hover / Focus / Active ===== */

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: white !important;
    outline: none;
}

/* ===== Dropdown ===== */

.navbar {
    position: relative;
    z-index: 1100;
}

.dropdown-menu {
    position: absolute;
    z-index: 1200;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-toggle {
    font-size: 16px;
    font-weight: 600;
    color: white;
}


/* nav */

@font-face {
    font-family: 'Body-Font';
    src: url(https://static.apps.ferrarinetwork.ferrari.com/autoloader/v1/static/fonts/Ferrari-SansRegular.32fade35.woff2) format("woff2"), url(https://static.apps.ferrarinetwork.ferrari.com/autoloader/v1/static/fonts/Ferrari-SansRegular.12656555.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    font-stretch: normal;
}

.nav-button {
    position: relative;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    color: currentColor;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-family: "Body-Font";
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.27em;
    text-transform: uppercase;
    padding: 4px 24px 0;
}


/* first-div */

.Header_header__3l7sm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: background-color 200ms;
}

.Header_content__35CEb {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 14px 0 0 18px;
    -webkit-transition: margin 200ms;
    transition: margin 200ms;
}

.hader-bg {
    background-image: url("https://ferrari.scene7.com/is/image/ferrari/FERRARI-LUCE_STEERING_WHEEL_HERO_desk");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.hero-text {
    position: absolute;
    bottom: 60px;
    left: 40px;
    color: #fff;
    z-index: 1;
    font-size: 26px;
    font-weight: 500;
}

.discover-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    color: white;
    text-decoration: none;

    border: none;
    background: transparent;
}

.discover-link i {
    font-size: 30px;
    
    transition: 0.3s ease, transform 0.3s ease;
}

/* BUTTON HOVER EFFECT */
.carousel-caption a{
    font-size: 20px;
    font-weight: 500;
}

.discover-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.discover-link:hover i {
    color: red;
    transform: translateX(4px); /* optional smooth move */
    transition: color 0.15s ease, transform 0.15s ease;
}

/* BUTTON HOVER EFFECT END*/


.hader-bg::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0; bottom:0; left:0; right:0 */
    background: rgba(0, 0, 0, 0.3); /* adjust darkness */
    z-index: 0;
}

/* header end */


/* main */


/* vedio slid-ariya */
h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 700;
}

.slide-ariya {
    width: 100%;
    height: 100vh;
    position: relative;
}

.carousel video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.f-carousel-navigator__button {
    cursor: pointer;
}

/* All indicator buttons */
.carousel-indicators {
    display: flex;
    gap: 12px;
}

/* default = filled dot */
.carousel-indicators button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
}

/* ACTIVE = RING */
.carousel-indicators button.active {
    background-color: transparent;
    border-color: #ED1C24;
}

/* hover */
.carousel-indicators button:hover {
    border-color: #ED1C24;
    transform: scale(1.3);
}
/* vedio slid-ariya end */

/* image slid-ariya  */


/* image slid-ariya end */


/* main end */